# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# production
build
dist
.next
out

# misc
.DS_Store
*.pem

# Ignore all .env files at the root level
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore all .env files within any subdirectory (including packages)
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# IDE
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json